<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connection_string" providerName="Npgsql" connectionString="Host=localhost;Port=5432;Database=TourPlanner;Username=admin;Password=password;" />
	</connectionStrings>
	<appSettings>
		<add key="ORSApiKey" value="5b3ce3597851110001cf6248defefbf3350b4e99bc33014f0a681a73"/>
	</appSettings>
</configuration>